@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* .font-plus-jakarta {
  font-family: var(--plus-jakarta);
} */

.title {
  @apply font-space leading-[125%] text-[#131313] font-bold text-[48px] tracking-[-0.5%];
}
.title-white {
  @apply font-space leading-[150%] text-[#F0EFEB] font-bold text-[48px] tracking-[-0.5%];
}

.para-lg {
  @apply font-space leading-[160%] text-xl text-grey tracking-[-0.5px];
}
.para-md {
  @apply font-space leading-[160%] text-lg text-grey tracking-[-0.5%];
}
.para-md {
  @apply font-space leading-[150%] text-base text-grey tracking-[-0.5%];
}
.para-md-white {
  @apply font-space leading-[150%] text-base text-[#F0EFEB] tracking-[-0.5%];
}

.btn {
  @apply font-medium py-4 px-8 rounded border text-base transition border-solid border-blue font-jakarta;
}

.btn-primary {
  @apply text-white bg-blue hover:text-blue hover:bg-white;
}

.btn-secondary {
  @apply text-blue bg-transparent hover:text-white hover:bg-blue;
}

.container {
  @apply max-w-[1320px] mx-auto;
}

.instructor-image-bg,
.instructor-wrapper,
.hero-image-bg,
.hero-wrapper {
  position: relative;
  /* z-index: 9; */
}
.hero-wrapper:before {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  width: 40%;
  height: 70%;
  z-index: -99;
  background: #c8e5ee;
}
.instructor-wrapper:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 35%;
  height: 70%;
  z-index: -99;
  background: #c8e5ee;
}
.hero-image-bg:before {
  position: absolute;
  left: 52%;
  margin-left: -40%;
  bottom: 0;
  content: '';
  width: 80%;
  height: 70%;
  z-index: -99;
  border-radius: 5px;
  background: #e5e4dd;
}
.instructor-image-bg:before {
  position: absolute;
  left: 47%;
  margin-left: -48%;
  bottom: 0;
  content: '';
  width: 90%;
  height: 80%;
  z-index: -99;
  border-radius: 30px;
  background: #e5e4dd;
}

.brands-slider .swiper-wrapper {
  align-items: center;
}
.player-wrpper {
  position: relative;
  padding-top: 56.25%;
  border-radius: 20px;
}
.react-player-custom {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.react-player-custom .react-player__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.react-player-custom iframe {
  border-radius: 20px;
}

.curriculum-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
